Web/Web References/OAWBS/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getDateInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="startDay1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="endData1" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDateInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDateInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="keys" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="checkUserResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPerson">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="likeValue" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="keys" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPersonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPersonResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePersonal_Plan">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="starttime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="endtime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePersonal_PlanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdatePersonal_PlanResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getDateInfoSoapIn">
    <wsdl:part name="parameters" element="tns:getDateInfo" />
  </wsdl:message>
  <wsdl:message name="getDateInfoSoapOut">
    <wsdl:part name="parameters" element="tns:getDateInfoResponse" />
  </wsdl:message>
  <wsdl:message name="checkUserSoapIn">
    <wsdl:part name="parameters" element="tns:checkUser" />
  </wsdl:message>
  <wsdl:message name="checkUserSoapOut">
    <wsdl:part name="parameters" element="tns:checkUserResponse" />
  </wsdl:message>
  <wsdl:message name="getPersonSoapIn">
    <wsdl:part name="parameters" element="tns:getPerson" />
  </wsdl:message>
  <wsdl:message name="getPersonSoapOut">
    <wsdl:part name="parameters" element="tns:getPersonResponse" />
  </wsdl:message>
  <wsdl:message name="UpdatePersonal_PlanSoapIn">
    <wsdl:part name="parameters" element="tns:UpdatePersonal_Plan" />
  </wsdl:message>
  <wsdl:message name="UpdatePersonal_PlanSoapOut">
    <wsdl:part name="parameters" element="tns:UpdatePersonal_PlanResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="getDateInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">返回指定ID用户的在开始时间和结束时间范围内的个人计划、任务列表.0表示未开始；status=1表示进行中；2表示完成；3表示延期</wsdl:documentation>
      <wsdl:input message="tns:getDateInfoSoapIn" />
      <wsdl:output message="tns:getDateInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="checkUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据登陆者的用户名和密码从OA中找到该登陆者的基本信息。&lt;br&gt;。&lt;br&gt;字段说明：&lt;br&gt;■string userName 用户名&lt;br&gt;■string pwd 密码&lt;br&gt;■string key 按约定的加密方法进行加密后的值</wsdl:documentation>
      <wsdl:input message="tns:checkUserSoapIn" />
      <wsdl:output message="tns:checkUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPerson">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据输入的likeValue模糊查询用户信息。&lt;br&gt;字段说明：&lt;br&gt;■string likeValue 用户名、用户真实姓名模糊查询&lt;br&gt;■string key 按约定的加密方法进行加密后的值</wsdl:documentation>
      <wsdl:input message="tns:getPersonSoapIn" />
      <wsdl:output message="tns:getPersonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePersonal_Plan">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据返回的ID，去更改个人计划</wsdl:documentation>
      <wsdl:input message="tns:UpdatePersonal_PlanSoapIn" />
      <wsdl:output message="tns:UpdatePersonal_PlanSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getDateInfo">
      <soap:operation soapAction="http://tempuri.org/getDateInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkUser">
      <soap:operation soapAction="http://tempuri.org/checkUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPerson">
      <soap:operation soapAction="http://tempuri.org/getPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePersonal_Plan">
      <soap:operation soapAction="http://tempuri.org/UpdatePersonal_Plan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getDateInfo">
      <soap12:operation soapAction="http://tempuri.org/getDateInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkUser">
      <soap12:operation soapAction="http://tempuri.org/checkUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPerson">
      <soap12:operation soapAction="http://tempuri.org/getPerson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePersonal_Plan">
      <soap12:operation soapAction="http://tempuri.org/UpdatePersonal_Plan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://202.121.80.141:10891/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://202.121.80.141:10891/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>